LAB4/node-red_flow.json
[{"id":"306c869626df7ab4","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"22f6c7e7474893be","type":"http in","z":"306c869626df7ab4","name":"","url":"/gas","method":"post","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":200,"y":220,"wires":[["2065564b81d2820b","599bd1af9aa2934d","b67f79d52a7d82c0"]]},{"id":"2065564b81d2820b","type":"http response","z":"306c869626df7ab4","name":"","statusCode":"","headers":{},"x":470,"y":140,"wires":[]},{"id":"b67f79d52a7d82c0","type":"debug","z":"306c869626df7ab4","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":260,"wires":[]},{"id":"6bb5b63cedeca0c0","type":"influxdb out","z":"306c869626df7ab4","influxdb":"fe6fabd02a78d306","name":"","measurement":"iot_sensors","precision":"ms","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":300,"y":500,"wires":[]},{"id":"599bd1af9aa2934d","type":"function","z":"306c869626df7ab4","name":"function 1","func":"var payload = msg.payload;\n\nmsg.payload = [\n    {\n        altitude_m:        Number(payload.altitude_m) || 0,\n        body_temp:         Number(payload.body_temp) || 0,\n        fever_flag:        Number(payload.fever_flag) || 0,\n        gas_avg:           Number(payload.gas_avg) || 0,\n        pressure_hpa:      Number(payload.pressure_hpa) || 0,\n        ds3231_timestamp:  String(payload.ds3231_timestamp || \"\")\n    }\n];\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":380,"wires":[["6bb5b63cedeca0c0"]]},{"id":"fe6fabd02a78d306","type":"influxdb","hostname":"127.0.0.1","port":8086,"protocol":"http","database":"iot_lab","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","timeout":10,"rejectUnauthorized":true},{"id":"4afdf5c7c82ec1a3","type":"global-config","env":[],"modules":{"node-red-contrib-influxdb":"0.7.0"}}]